.blog-container {
  background-color: #faf3e0;
  margin-top: 20px;
  width: 75%; /* make the container 50% of the parent size */
  margin-left: auto;
  margin-right: auto; /* center the container */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.blog-content {
  color: black;
  flex: 1;
}

.blog-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  }


.edited-title, .editing-content {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.blog-button {
  border: none; /* Remove borders */
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease; /* Add transition for smooth color change */
  outline: none; /* Remove focus border around button */
  margin-left: 20px
}

/* Add hover and active states for feedback */
.blog-button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Slight highlight on hover */
}

.blog-button:active {
  transform: scale(0.95); /* Button slightly shrinks when clicked */
}

.edit-button {
  background-color: #66b366; /* Use a softer green */
  color: white;
}

.delete-button {
  background-color: #f5a6a6; /* Use a softer red */
  color: white;
}

.copy-button {
  background-color: #7b5fa6; /* Use a softer purple */
  color: white;
}

.done-editing-button {
  background-color: #66b366; /* Use a softer purple */
  color: white;
  padding-left: 20px;
}
